@model IEnumerable<VidyaCat2.Models.PlatformListItem>

@{
    ViewBag.Title = "Platforms - Status";
}

<h2 class="pageHeader">Platforms by Status</h2>

<p>
    @Html.ActionLink("Create New", "Create", "", htmlAttributes: new { @class = "createButton" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlatformName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink($"{item.Brand}", "IndexByBrand", "Platform", new { brand = item.Brand }, htmlAttributes: new { @class = "indexLink" })
        </td>
        <td>
            @Html.ActionLink($"{item.PlatformName}", "Details", "Platform", new { id = item.PlatformID }, htmlAttributes: new { @class = "indexLink" })
        </td>
        <td>
            @Html.ActionLink($"{item.ReleaseDate.ToShortDateString()}", "IndexByYear", "Platform", new { year = item.ReleaseDate.Year }, htmlAttributes: new { @class = "indexLink" })
        </td>
        <td class="activeFilter">
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlatformID }, htmlAttributes: new { @class = "eddLinks" }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlatformID }, htmlAttributes: new { @class = "eddLinks" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlatformID }, htmlAttributes: new { @class = "eddLinks" })
        </td>
    </tr>
}

</table>
